// this file is utility files so any functionality like special classes to center element, 
// modify margins etc should be here 

.u-center-text{text-align: center;}

//  margin-bottom = 80px -> 8rem
.u-margin-bottom-big{margin-bottom: 8rem;}

.u-margin-bottom-medium{margin-bottom: 4rem;}

.u-margin-bottom-small{margin-bottom: 1.5rem;}

